[submodule "Grounded-Segment-Anything"]
	path = ./Dataset-Creation/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git

[submodule "recognize-anything"]
	path = ./Dataset-Creation/recognize-anything
	url = https://github.com/xinyu1205/recognize-anything.git